
.bootstrap-navbar{
    background-color:whitesmoke;
    min-height: 10%;
}

#map-or-list{
    color: grey;
    background-color: white;
    border-radius: 5px;
}

.filters-container {
    position: relative;
    margin-top: 7rem;
    padding-top: 1rem;
    overflow-y: scroll;
    height: 82vh;
    /* border: 1px solid blue; */
}

.listed-event-container {
    position: relative;
    margin-top: 7rem;
    overflow-y: scroll;
    height: 82vh;
    /* border: 1px solid blue; */
}

.listed-event{
    padding-top: 5px;
}

.map {
    position: relative;
    margin-top: 7rem;
    /* border: 1px solid blue; */
}

.address-search-bar {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    /* max-width: 400px; */
    z-index: 10;
}
.address-search-bar input {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
}

.current-locator {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
}
.current-locator img {
    width: 30px;
    cursor: pointer;
}

.all-events {
    list-style: none;
}

.registered-address{
    display: block;
}

input{
    width: 400px
}