
.bootstrap-navbar{
    background-color:whitesmoke;
    min-height: 10%;
}


.listed-event-container {
    position: relative;
    padding-top: 8rem;
    overflow-y: scroll;
    height: 95vh;
}

.listed-event{
    padding-top: 5px;
}

.map {
    position: relative;
    padding-top: 7rem;
}

.address-search-bar {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    /* max-width: 400px; */
    z-index: 10;
}
.address-search-bar input {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
}

.current-locator {
    position: absolute;
    top: 8rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
}
.current-locator img {
    width: 30px;
    cursor: pointer;
}

.all-events {
    list-style: none;
}

