
.bootstrap-navbar{
    background-color:whitesmoke;
    min-height: 10%;
}

.loading-img{
    display:flex;
    justify-content:center; /* horizontally center */
    align-items:center;    /* vertically center */
  }
 
 .loading-img img{
   max-width:100%;
   max-height:100%;
 }


#map-or-list{
    color: grey;
    background-color: white;
    border-radius: 5px;
}

.filters-container {
    position: relative;
    margin-top: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: scroll;
    border: 1px solid skyblue;
}

.listed-event-container {
    position: relative;
    margin-top: 7rem;
    overflow-y: scroll;
    height: 82vh;
    /* border: 1px solid blue; */
}

.listed-event{
    padding-top: 5px;
}

.map {
    position: relative;
    margin-top: 7rem;
}

/* メディアクエリ */
@media (max-width: 767px) {
    /* 横幅が767px(smサイズ)以下の場合に適用するスタイル */
    .listed-event-container {
        margin-top: 1rem;
    }
    .map {
        margin-top: 1rem;
    }
}

@media (max-width: 576px){
    .filters-container {
        margin-top:8rem;
    }
}
/* メディアクエリ */

.address-search-bar {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    /* max-width: 400px; */
    z-index: 10;
}
.address-search-bar input {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
}

.current-locator {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
}
.current-locator img {
    width: 30px;
    cursor: pointer;
}

.all-events {
    list-style: none;
}

.registered-address{
    display: block;
}

input{
    width: 400px
}